{% extends 'homepage.html' %}

{% block container %}
<script>

</script>
<div class="row">
	<div class="col-md-9">
		<!-- BOX -->
		<div class="box border blue">
			<div class="box-title">
				<h4><i class="fa fa-quote-left"></i>test</h4>
			</div>
			<div class="box-body ">
				<form class="form-horizontal" method="post" action="/test/">
					<div class="form-group">
						<label class="col-sm-3 control-label">项目代码路径:</label>
						<div class="col-sm-9">
							<div class="input-group">
								<input type="text" name="codepath" value="{{codepath}}" class="form-control">
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit" name="submit" value="start">Start</button>
								</span>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}